.gradle
/build/
/out/
/kodilla-testing/out
/kodilla-stream/out
/kodilla-exception/out
/kodilla-exception/build
/kodilla-hibernate/out
/kodilla-hibernate/build
/kodilla-jdbc/out
/kodilla-jdbc/build
/kodilla-patterns/out
/kodilla-patterns/build
/kodilla-spring-web/out
/kodilla-spring-web/build
/kodilla-spring/out
/kodilla-spring/build
/target
/kodilla-testing/build
/kodilla-stream/build
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/